/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background: linear-gradient(45deg, #000000, #0d0d0d);
    padding: 10px;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide {
    grid-column: span 2;
}
.grid-wrapper .tall {
    grid-row: span 2;
}
.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}

* {
    box-sizing: border-box;
}

:root {
    --amber: #00c4ff;
    --shadow-light: #19718c;
    --shadow-dark: #033b4c;
}
body {
    margin: 0;
}


.wrapper {
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    height: 50vh;
    position: relative;
    z-index: 1;
}
.wrapper > div {
    background-clip: text;
    -webkit-background-clip: text;
    color: #00c4ff;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: clamp( 3em, 16vw, 15rem);
    grid-area: overlap;
    letter-spacing: 1px;
    -webkit-text-stroke: 4px transparent;
}
div.background {
    background-image: repeating-linear-gradient(105deg,
    var(--amber) 0%,
    var(--shadow-dark) 5%,
    var(--amber) 12%);
    color: transparent;
    transform: scaleY(1.05);
    transform-origin: top;
}

div.foreground {
    background-image: repeating-linear-gradient(5deg,
    var(--amber) 0%,
    var(--shadow-light) 23%,
    var(--amber) 31%);
    transform: scale(1);
}
#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 10px; /* Zet het menu dichter bij de bovenkant */
    left: 10px; /* Houd het menu linksboven */
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 9999; /* Zorg ervoor dat het menu altijd bovenop staat */
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    padding: 80px 0;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition: left 0.25s;
    z-index: 9998; /* Zorg dat het menu ook boven de tekst komt */
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 20px; /* Maakt de streepjes kleiner zodat ze goed binnen de cirkel passen */
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}



.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 24px; /* Groter lettertype */
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: #CFD8DC;
}
@media screen and (max-width: 767px) {
    /* Voeg hier de stijlen toe voor schermen kleiner dan 768 pixels (bijv. telefoons) */

    .grid-wrapper {
        /* Aanpassen van grid-template-columns om kolombreedte aan te passen */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .wrapper {
        /* Plaats de inhoud van de wrapper in het midden van het scherm */
        align-items: center;
        margin-top: 1vh;
        height: 15vh;
    }
}

.grid-wrapper .popup-image{
    position: fixed;
    top: 0; left: 0;
    background:rgba(0, 0, 0, 1);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;


}
.grid-wrapper .popup-image span{
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;

}
.grid-wrapper .popup-image img{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    object-fit: cover;
}
@media(max-width:768px) {
    .grid-wrapper .popup-image img{
        width: 95%;
        height: 50%;
    }
}
.grid-wrapper .popup-image .prev,
.grid-wrapper .popup-image .next {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

.grid-wrapper .popup-image .prev {
    left: 20px;
}

.grid-wrapper .popup-image .next {
    right: 20px;
}












